# Ignore all JSON files
# *.json

# Ignore Dockerfile and entrypoint.sh temporally ignore and revert later
# Dockerfile
# entrypoint.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PDF files (optional)
*.pdf
