# Ignore all JSON files
*.json

# But do NOT ignore these important files
!src/quake.json
!src/quake_points.json
!src/air_pollution.json
!src/typhoon_predict.json
!src/current.json
!src/today_forecast.json
!src/temps.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PDF files (optional)
*.pdf
